# =====================================
# Node.js
# =====================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# =====================================
# Build / Deployment
# =====================================
dist/
build/
tmp/
temp/
.cache/
uploads/

# =====================================
# Logs
# =====================================
*.log
logs/
*.pid
*.seed
*.pid.lock

# =====================================
# OS Specific
# =====================================
.DS_Store
Thumbs.db

# =====================================
# VS Code
# =====================================
.vscode/
.history/
*.code-workspace

# =====================================
# Live Server Extensions
# =====================================
__live-server__/
_vscode_livepreview/

# =====================================
# Other files
# =====================================
donors.json
*.bak
*.zip
*.tar.gz
